
#header .w {
    height: 140px;
    position: relative;
    z-index: 11;
}

#header a {
    text-decoration: none;
    color: #666;
}

#header a:hover {
    color: #f10215;
}

#logo {
    position: absolute;
    left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    background-color: #fff;
    /*z-index: 2;*/
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

#logo .logo_tit {
    position: absolute;
    width: 100%;
    height: 100%;
}

#logo a {
    overflow: hidden;
    display: block;
    width: 190px;
    height: 170px;
    /*text-indent: -9999px;*/
}

#logo img {
    width: 190px;
    height: 170px;
}

.search-fix{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
.search-fix{
    -webkit-animation: searchTop .5s ease-in-out;
    -moz-animation: searchTop .5s ease-in-out;
    animation: searchTop .5s ease-in-out;
}
.search-fix .search_m{
    margin: auto;
    width: 1190px;
    height: 48px;
}
/*.search-fix .search_m .search_logo{*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 4px;*/
    /*width: 125px;*/
    /*height: 40px;*/
/*}*/
/*.search-fix .search_m .search_logo_1k{*/
    /*overflow: hidden;*/
    /*display: block;*/
    /*width: 125px;*/
    /*height: 40px;*/
    /*text-indent: -999px;*/
/*}*/
.search-fix .search_m .form{
    top: 6px;
}

.search_m {
    position: relative;
    z-index: 1;
    height: 60px;
}
/*.search_m .search_logo{*/
    /*display: none;*/
/*}*/
#shelper{
    left: 0;
    top: 34px;
    width: 498px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.2);
}
#shelper .shelper-item{
    font-size: 14px;
    height: 32px;
    /*width: 100%;*/
    line-height: 32px;
    padding-left: 3px;
}


.search_m .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search_m .button, search_m .text {
    position: absolute;
    top: 0;
    outline: none;
}
.search_m .text {
    left: 0;
    padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
}

.photo_search_btn {
    position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}

.photo_search_btn .upload_bg {
    display: block;
    width: 19px;
    height: 15px;
}

.photo_search_btn .upload_trigger {
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 3;
    width: 500px;
    height: 500px;
    cursor: pointer;
    opacity: 0;
}

.search_m .button {
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
}

.search_m .button i {
    display: block;
    width: 20px;
    height: 21px;
    margin: auto;
}

.search_m .button .iconfont img {
    /*display: block;*/
    width: 20px;
    height: 21px;
    margin: auto;
}

#settleup {
    position: absolute;
    right: 99px;
    top: 25px;
}

#settleup .cw_icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}

#settleup .cw_icon .iconfont {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    font-size: 16px;
    /*color: #f10214;*/
}

#settleup .cw_icon .iconfont img {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

#settleup .cw_icon a {
    color: #f10214;
}

#settleup .ci_count {
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
    padding: 1px;
}

#settleup .dorpdown_layer {
    top: 35px;
    right: 0;
    width: 308px;
}

.cart_pop {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #fff;
}

.cart_empty {
    height: 49px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}

.cart_empty_img {
    vertical-align: middle;
    width: 56px;
    height: 49px;
}

.cart_empty_img img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#hotwords {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}

#hotwords a {
    float: left;
    margin-right: 10px;
    color: #999;
    white-space: nowrap;
}

#navitems {
    overflow: hidden;
    width: 790px;
    height: 40px;
    position: absolute;
    left: 200px;
    bottom: 0;
}

#navitems ul, #nacitems .spacer, #navitems li {
    float: left;
}

#navitems li {
    margin-left: 30px;
}

#navitems .spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    float: left;
    margin: 15px -10px 0 20px;
}

#navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}

#treasure {
    position: absolute;
    width: 190px;
    height: 40px;
    right: 0;
    bottom: 10px;
}

#treasure img {
    width: 190px;
    height: 40px;
}